$site-width: 768px;

$themes: (
    light: (
        color-background: #fff,
        color-text: #333
    ),
    dark: (
        color-background: #000,
        color-text: #ddd
    ),
    yellow: (
	color-background: #ffffe0,
	color-text: #333
    )	    
);

@mixin theme-aware($key, $color) {
    @each $theme-name, $theme-color in $themes {
        .theme-#{$theme-name} & {
            #{$key}: map-get(map-get($themes, $theme-name), $color)
        }
    }
}


@import "navigation.scss";
@import "typography.scss";
@import "mobile.scss";
@import "syntax-highlighting.scss";
@import "lightbox.scss";
@import "math.scss";
@import "youtube.scss";

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    font-family: 'Libre Baskerville';
}

#main-wrapper {
    
  @include theme-aware('background-color', 'color-background');
  @include theme-aware('color', 'color-text');
  width: 100%;
  min-height: 100vh;
}

header, main, footer {
  max-width: $site-width;
  margin: 0 auto;
}

header {
    border-bottom: 0.2em solid;
    @include theme-aware('border-color', 'color-text');
}

main {
    text-align: justify;
}

footer {
    border-top: 0.2em solid;
    @include theme-aware('border-color', 'color-text');
}

::selection {
  @include theme-aware('background', 'color-text');
  @include theme-aware('color', 'color-background');
}

