// Latin Modern

@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: 400;
  src: url('../thirdparty/latin-modern/Serif/cmunrm.woff') format('woff');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: italic;
  font-weight: 400;
  src: url('../thirdparty/latin-modern/Serif/cmunti.woff') format('woff');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: 700;
  src: url('../thirdparty/latin-modern/Serif/cmunbx.woff') format('woff');
}


// Fira Code

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url(../thirdparty/firacode/FiraCode-Regular.woff2) format('woff2');
}
