// Baskerville

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
 // src: url('../baskerville/TypoPRO-LibreBaskerville-Regular.woff') format('woff');
  src: url('../latin-modern/Serif/cmunrm.woff') format('woff');
  
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: url('../latin-modern/Serif/cmunti.woff') format('woff');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: url('../latin-modern/Serif/cmunbx.woff') format('woff');
}


// Fira Code

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url(../firacode/FiraCode-Regular.woff2) format('woff2');
}
