// Baskerville

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url('../baskerville/TypoPRO-LibreBaskerville-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: url('../baskerville/TypoPRO-LibreBaskerville-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: url('../baskerville/TypoPRO-LibreBaskerville-Bold.woff') format('woff');
}


// Fira Code

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url(../firacode/FiraCode-Regular.woff2) format('woff2');
}
