$site-width: 768px;

$themes: (
    light: (
        color-background: #fff,
        color-text: #000
    ),
    dark: (
        color-background: #000,
        color-text: #fff
    )
);

@mixin theme-aware($key, $color) {
    @each $theme-name, $theme-color in $themes {
        .theme-#{$theme-name} & {
            #{$key}: map-get(map-get($themes, $theme-name), $color)
        }
    }
}


@import "navigation.scss";
@import "typography.scss";
@import "mobile.scss";
@import "syntax-highlighting.scss";
@import "math.scss";
@import "youtube.scss";

html, body {
  height: 100%;
  font-family: 'Libre Baskerville';
}

body {
  margin: 0;
}

#main-wrapper {
  @include theme-aware('background', 'color-background');
  @include theme-aware('color', 'color-text');
  width: 100%;
}

header, main, footer {
    max-width: $site-width;
    margin: auto;
}

header {
    border-bottom: 0.2em solid;
    @include theme-aware('border-color', 'color-text');
}

main {
    text-align: justify;
}

footer {
    border-top: 0.2em solid;
    @include theme-aware('border-color', 'color-text');
}

::selection {
  @include theme-aware('background', 'color-text');
  @include theme-aware('color', 'color-background');
}

