@media only screen and (max-width: 768px) {

    header, main, footer {
	padding: 0 1rem;
    }

    header nav a{
	font-size: 1rem;
	margin-right: 0.5rem;
    }

    div.proof::after {
	right: 1rem;
	display: none;
    }
    .verse, .note, .warning {
	margin: 1rem 0;
	padding: 0 0 0 1rem;
	color: inherit;
    }
}
